<div class="container">
  <div class="alert alert-success" role="alert" *ngIf="info">
      {{info}}
  </div>
  <h3>Welcome to Textlight!</h3>
  <p>Textlight is a simple web application and interface that enables the quick and easy demonstration of text mining and analysis tasks.</p>
  <p>Classification tasks are supported out of the box. You can train or test a model with input files, or you can try models with text entered impromptu.</p>

  <div class="col-sm-4">
    <h4>Upload model</h4>
    <file-drop headertext="" (onFileDrop)="modelFileDropped($event)">
      <span>Drop your model file here (*.pkl)</span>
    </file-drop>
  </div>

  <div class="col-sm-12 mt-3">
    <h4>Saved models</h4>
    <ul>
        <li *ngFor="let model of models">
        {{model.name}}
          <a href="{{model.url}}" >Download</a>
        </li>
    </ul>
  </div>
</div>